@model Wedding
<h1>Welcome to the Wedding Planner</h1>
<a href="/logout">Logout</a>
    <table class="table table-dark">
        <thead>
            <tr>
            <th scope="col">Wedding</th>
            <th scope="col">Date</th>
            <th scope="col">Guests</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
                @foreach(Wedding a in ViewBag.AllWeddings)
                {
                    @* Loop through all weddings to render info *@
                    bool found = false;
                    @* create variable for checking presence of RSVP *@
                <tr>
                    <th scope="row"><a href="/wedding/@a.WeddingId">@a.WedOne and @a.WedTwo</a></th>
                    <td>@a.WedDate</td>
                    @if(@a.Attendees.Count() <= 0)
                    {
                        <td>0</td>
                    } else{
                        <td>@a.Attendees.Count()</td>
                        }
                        @* check user in session against User ID found in the wedding, indicating this user made this wedding *@
                    @if(ViewBag.UserinSession ==a.UserId)
                    {
                        <td><a href="/delete/@a.WeddingId" class="btn btn-danger">Delete</a></td>
                    } else{
                        @* if not the creator we go to else *@
                        if(@a.Attendees.Count() <= 0 && ViewBag.UserinSession != a.UserId)
                        {
                            <form action="/rsvp" method="post">
                                <input type="hidden" name="WeddingId" value="@a.WeddingId">
                                <input type="hidden" name="UserId" value="@ViewBag.UserinSession">
                                <td><input type="submit" value="RSVP" class="btn btn-success"></td>
                            </form>  
                        }else{
                        @foreach (Event b in a.Attendees)
                        {
                            @* loop through each entry in Attendees, which is a list of Users attending wedding *@
                            @if(ViewBag.UserinSession == b.UserId)
                            
                            @* if the user in session matches a user id in the attendees list (not the user id for creating) *@
                                {
                                    found=true;
                                }
                            @if(found == true && ViewBag.UserinSession != a.UserId)
                                {
                                    <td><a href="/unrsvp/@a.WeddingId" class="btn btn-danger">Un RSVP</a></td>
                            @* if the user Id was found in the Attendees list, and is not the creator (indicated by a.UserId instead of b.) *@
                                    @* render a link for unrsvp *@
                                }
                                @if(found == false && ViewBag.UserinSession != a.UserId)
                                    {
                                    <form action="/rsvp" method="post">
                                        <input type="hidden" name="WeddingId" value="@a.WeddingId">
                                        <input type="hidden" name="UserId" value="@ViewBag.UserinSession">
                                        <td><input type="submit" value="RSVP" class="btn btn-success"></td>
                                    </form> 
                                    @* if the user was not found in attendees, and is not the creator, this should now render *@
                                    }             
                            }
                        }
                    }
                </tr>
                }
        </tbody>
    </table>

    <a href="/createWedding" class ="btn btn-info">New Wedding</a> 